.content {
  font-family: 'Montserrat', sans-serif;
}

#greeting-container {
  margin-top: 10px;
  color: #42474b;
}

#centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

#hello {
  font-size: 4em;
  color:#0184ff;
  margin-left: 25%;
}

#intro {
  font-style: bold;
  line-height: 150%;
  margin-left: 25%;
  margin-right: 25%;
}
